{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='account-style.css')}}">
<style>
    .password-req {
        align-self: flex-start;
        margin-bottom: -20px;
    }
    .password-req p {
        margin-bottom: 0.5rem;
    }
    .password-req ul {
        margin: 0;
    }
    .role-disclaimer {
        max-width: 300px;
    }
</style>
{% endblock %}

{% block content %}
<!-- Registration form -->
<div class="input-form">
    <form method="POST">
        <input type="text" name="first_name" placeholder="First Name" value="{{ first_name | default('') }}" required>
        <input type="text" name="last_name" placeholder="Last Name" value="{{ last_name | default('') }}" required>
        <input type="email" name="email" placeholder="Email" value="{{ email | default('') }}" required>
        <input type="password" name="password" placeholder="Password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$">
        <div class="password-req">
            <p>Password Requirements:</p>
            <ul>
                <li>Must be at least 8 characters</li>
                <li>Must contain a lowercase letter</li>
                <li>Must contain an uppercase letter</li>
                <li>Must contain a digit</li>
            </ul>
        </div>
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        <label for="type">ACCOUNT TYPE:</label>
        <select id="type" name="type">
            <option value="PROPERTY_OWNER" {% if account_type==
            'PROPERTY_OWNER' %}selected{% endif %}>Property Owner</option>
            <option value="TENANT" {% if account_type==
            'TENANT' %}selected{% endif %}>Tenant</option>
        </select>
        <p class="role-disclaimer">Note: This system only supports Property Owner's at this time and all accounts are created with this role.</p>
        <!-- <button type="submit">REGISTER</button> -->
        <button id="register-submit" type="submit">REGISTER</button>
    </form>
    <p>Already have an account? <a class="wrong-page-btn" href="/login">Login</a></p>
</div>
{% endblock %}
