{% extends "base.html" %}
{% block title %}2FA Setup{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .welcome-message {
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 20px;
            color: #BB86FC; /* Accent color */
        }
        .subtitle {
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 40px;
            color: #6026a7;
            margin: 0.5rem 0;
        }
        .input-form input {
            width: 300px;
            padding: 15px;
            border: none;
            border-radius: 30px;
            margin-bottom: 10px;
            font-size: 16px;
            color: #FFFFFF;
            background-color: #1F1B24;
        }
        .input-form button {
            padding: 15px 30px;
            border: none;
            border-radius: 30px;
            font-size: 16px;
            font-weight: 700;
            color: #FFFFFF;
            background-color: #03DAC6; /* Button color */
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .input-form button:hover {
            background-color: #018786;
        }
        .skip-setup-btn {
            padding: 2rem;
            margin: 1rem 0.5rem;
            border: none;
            border-radius: 30px;
            font-size: 16px;
            font-weight: 700;
            color: #FFFFFF;
            background-color: #7f908f; /* Button color */
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-decoration: none;
            display: flex;
            align-items: center;
        }
    </style>
{% endblock %}
{% block content %}
    <!-- Welcome Message -->
    <h1 class="welcome-message">2FA Setup</h1>
    <p class="subtitle">Secure your account by setting up 2FA using an authenticator app.</p>
    <br>
    <p class="subtitle">Enter any 6 digits below (FE Placeholder).</p>
    <br>
    <div class="input-form">
        <form method="POST">
            <input type="text" name="verification_code" placeholder="Verification Code" required>
            <button type="submit">Setup 2FA</button>
        </form>
    </div>
    <button onclick="location.href='/'" class="skip-setup-btn">Skip 2FA Setup</a>
{% endblock %}