{% extends "base.html" %}
{% block title %}2FA Verification{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='account-style.css')}}">
{% endblock %}
{% block content %}
    <!-- Welcome Message -->
    <h1 class="welcome-message">2FA Verification</h1>
    <p class="subtitle">Complete authentication by verifying your setup 2FA.</p>
    <br>
    <p class="subtitle">Enter any 6 digits below (FE Placeholder).</p>
    <br>
    <div class="input-form">
        <form method="POST">
            <input type="text" name="verification_code" placeholder="Verification Code" required>
            <button type="submit">Setup 2FA</button>
        </form>
    </div>
{% endblock %}