.ImagePlacement {
    max-width: 90%; 
    height: 825px;
    top: 30px;
    background: #F4F1EB;
    margin: 0 auto;             /* Centers the div */
    box-sizing: border-box;     /* Ensures padding doesn’t increase the width */
    position: relative;
}

/* FIX */
.ImageWrapper {
    width: 100%;
    height: 100%;
    opacity: 0.25; /* Set opacity here for the wrapper */
}
/* FIX */
.Rentalimage {
    width: 100%;             
    height: 100%;
    object-fit: cover;    
}

.TransparentDivider {
    width: 600px; 
    height: 825px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;  
    position: absolute; 
    /* background: rgba(255, 255, 255, 0.50);  */
}

.WhiteTransparentDivider {
    width: 600px; 
    height: 825px;
    margin: 0 auto;
    padding: 0 20px;
    opacity: 50%;
    box-sizing: border-box;  
    position: absolute; 
    background: rgba(255, 255, 255, 0.50); 
}

.LeaseFiftySeven {
    left: 50%;
    top: 25px;
    position: absolute;
    transform: translateX(-50%);
    text-align: center;
    color: #2B4156;
    font-size: 32px;
    font-family: 'Playfair Display', serif; /* Add font-family in quotes */
    font-weight: 400;
    letter-spacing: 5px;
}

.RentalManagement {
    left: 50%;
    top: 65px;
    position: absolute;
    transform: translateX(-50%);
    text-align: center;
    color: black;
    font-size: 19px;
    font-family: 'Quicksand', sans-serif; /* Add font-family in quotes */
    font-weight: 400;
    letter-spacing: 10px;
}

.OptionsDivider1, .OptionsDivider2 {
    width: 100%; 
    height: 1px; 
    top: 105px; 
    left: 0;
    position: absolute;
    border: none;
    background-color: #2B4156;
}

.OptionsDivider2 {
    top: 112px; 
}

/* FIX ALL */

.WelcomeMessage {
    font-size: 28px; 
    color: #000; 
    text-align: center; 
    margin-top: 20px; 
    font-family: 'Playfair Display', serif;
}

.WelcomeMessage1 {
    width: 498px;
    height: 349px;
    left: 50px;
    top: 60px;
    position: absolute;
    color: #2B4156;
    font-size: 64px;
    font-family: 'Playfair Display', serif; /* Add font-family in quotes */
    font-weight: 400;
    line-height: 66.70px;
    word-wrap: break-word;
}

.GetStartedMessage {
    width: 510px;
    height: 52px;
    left: 50px;
    top: 375px;
    position: absolute;
    color: #2B4156;
    font-size: 36px;
    font-family: 'Playfair Display', serif; /* Add font-family in quotes */
    font-weight: 400;
    line-height: 37.52px;
    word-wrap: break-word;
}

.LoginButton, .RegisterButton {
    width: 190px;
    height: 50px;
    left: 50px;
    position: absolute;
    color: #ffffff;
    background: #708671;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif; /* Add font-family in quotes */
    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

.LoginButton {
    top: 450px; /* Specific top for LoginButton */
}

.RegisterButton {
    top: 535px; /* Specific top for RegisterButton */
}