html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: Poppins, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
}
button {
    display: block;
    height: 72px;
    padding: 10px;
    font-size: 24px;
    border-radius: 4px;
    text-align: left;
    border: 1px black solid;
}
.secondary-nav-btn {
    background-color:#03dac6;
    color: #ffffff;
    cursor: pointer;
    width: 87%;
    margin: 0.25rem
}
.selectedColor {
    background-color: #018786;
}
.Sidebar {
    width: 417px;
    height: 100%;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Name {
    color: black;
    font-size: 24px;
    font-weight: 500;
    word-wrap: break-word;
    text-align: right;
}
.nav-logo {
    aspect-ratio: 1;
    height: 4rem;
    cursor: pointer;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}
.unauth-btns-cont {
    display: flex;
    align-items: center;
}
.unauth-btn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #018786;
    margin: 0 0.25rem;
    color: #ffffff;
    text-decoration: none;
}
.container {
    display: flex;
    height: 100%;
    margin-bottom: 0.5rem;
}
.content-container {
    margin-left: 1rem;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.flashes {
    list-style-type: none;
}
.flashes .success {
    color: green;
}
.flashes .error {
    color: red;
}