html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: Poppins, sans-serif;
    background-color: #E9E5DC;
}
body {
    display: flex;
    flex-direction: column;
}
button {
    display: block;
    height: 72px;
    padding: 10px;
    font-size: 24px;
    border-radius: 4px;
    text-align: left;
    border: 1px black solid;
}
.secondary-nav-btn {
    background-color:#03dac6;
    color: #ffffff;
    cursor: pointer;
    width: 87%;
    margin: 0.25rem
}
.selectedColor {
    background-color: #018786;
}
.Sidebar {
    width: 417px;
    height: 100%;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.LeaseFiftySeven {
    left: 50%;
    top: 25px;
    position: absolute;
    transform: translateX(-50%);
    text-align: center;
    color: #2B4156;
    font-size: 32px;
    font-family: 'Playfair Display', serif; /* Add font-family in quotes */
    font-weight: 400;
    letter-spacing: 5px;
}
.RentalManagement {
    left: 50%;
    top: 65px;
    position: absolute;
    transform: translateX(-50%);
    text-align: center;
    color: black;
    font-size: 19px;
    font-family: 'Quicksand', sans-serif; /* Add font-family in quotes */
    font-weight: 400;
    letter-spacing: 10px;
}
.NavOptionsDivider1, .NavOptionsDivider2 {
    width: 100%; 
    height: 1px; 
    top: 105px; 
    left: 0;
    position: absolute;
    border: none;
    background-color: #2B4156;
}
.NavOptionsDivider2 {
    top: 112px; 
}

.Name {
    color: #8e3fee;
    font-size: 24px;
    font-weight: 500;
    word-wrap: break-word;
}
.nav-logo {
    aspect-ratio: 1;
    height: 4rem;
    cursor: pointer;
    padding: right 20px;;
}
.navbar {
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 20px;
}
.unauth-btns-cont {
    display: flex;
    align-items: center;
}
.unauth-btn {
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: #708671;
    margin: 0 0.25rem;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

.welcome-message {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #BB86FC; /* Accent color */
}
.subtitle {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
    color: #6026a7;
    margin: 0.5rem 0;
}
.text {
    color: #8e3fee;
    font-size: 20px;
    font-weight: 400;
    margin: 0.5rem 0;
}
.container {
    display: flex;
    flex: 1;
    overflow: hidden;
    margin-bottom: 0.5rem;
}
.content-container {
    margin-left: 1rem;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.flashes {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: white;
}
.flashes li {
    padding: 0.25rem;
    border: 1px black solid;
    background: black;
}
.flashes .success {
    background: green;
}
.flashes .error {
    background: #b10000;
}