html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: Poppins, sans-serif;
    background-color: #E9E5DC;
}
body {
    display: flex;
    flex-direction: column;
}
button {
    display: block;
    height: 72px;
    padding: 10px;
    font-size: 24px;
    border-radius: 4px;
    text-align: left;
    border: 1px black solid;
}
.secondary-nav-btn {
    background-color: #708671;
    color: #ffffff;
    cursor: pointer;
    width: 87%;
    margin: 0.25rem;
    transition: background-color 0.3s ease;
}
.secondary-nav-btn:hover {
    background-color: #636363;
}
.selectedColor {
    background-color: #636363;
}
.Sidebar {
    width: 417px;
    min-width: 196px;
    height: 100%;
    border-right: 1px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding-top: 0.5rem;
}
.LeaseFiftySeven {
    text-align: center;
    color: #2B4156;
    font-size: 32px;
    font-family: 'Playfair Display', serif; /* Add font-family in quotes */
    font-weight: 400;
    letter-spacing: 5px;
    margin: 0;
}
.RentalManagement {
    text-align: center;
    color: black;
    font-size: 19px;
    font-family: 'Quicksand', sans-serif; /* Add font-family in quotes */
    font-weight: 400;
    letter-spacing: 10px;
    margin: 0;
}
.Name {
    color: #2B4156;
    font-size: 24px;
    font-weight: 500;
    white-space: nowrap;
}
.nav-logo {
    aspect-ratio: 1;
    height: 4rem;
    cursor: pointer;
    padding: right 20px;;
}
.navbar {
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px #2B4156 solid;
}
.navbar .left {
    flex-grow: 1;
    flex-basis: 0;
}
.navbar .right {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: flex-end;
}
.nav-title {
    white-space: nowrap;
}
.unauth-btns-cont {
    display: flex;
    align-items: center;
}
.unauth-btn {
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: #708671;
    margin: 0 0.25rem;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    transition: background-color 0.3s ease;
}
.unauth-btn:hover {
    background-color: #636363;
}
.welcome-message {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #2B4156; /* Accent color */
}
.subtitle {
    font-size: 24px;
    font-weight: 400;
    color: black;
    margin: 0.5rem 0;
}
.text {
    color: #2B4156;
    font-size: 20px;
    font-weight: 400;
    margin: 0.5rem 0;
}
.container {
    display: flex;
    flex: 1;
    overflow: hidden;
    margin: 0.5rem 0;
    border-top: 1px #2B4156 solid;
}
.content-container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.container:has(.Sidebar) .content-container {
    margin-left: 1rem;
}
.flashes {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: white;
}
.flashes li {
    padding: 0.25rem;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    background: black;
}
.flashes li:first-child {
    border-top: none;
}
.flashes .success {
    background: green;
}
.flashes .error {
    background: #b10000;
}