{% extends "base.html" %}
{% block title %}Managed Properties{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='managementAccount.css')}}">
{% endblock %}
{% block properties_classes %}selectedColor{% endblock %}
{% block content %}
    <div class="OutputPlacement">
        <div class="OutputOptionsBar">
            <button class="OptionsButton"
                    onclick="removeSelected()">
                Remove
            </button>
            <button class="OptionsButton"
                    style="margin-right: 1rem;"
                    onclick="location.href='/add_property'">
                Add
            </button>
        </div>

        <div class="PropertyTabs", id="PropertiesContainer">
            <div class = "propertyTab">
                <button class="view"
                        onclick="location.href='property.html'">
                    view
                </button>
                <div class="checkButton" onclick="toggleSelect(this)"></div>
            </div>
            <div class = "propertyTab">
                <button class="view"
                        onclick="location.href='property.html'">
                    view
                </button>
                <div class="checkButton" onclick="toggleSelect(this)"></div>
            </div>
            <div class = "propertyTab">
                <button class="view"
                        onclick="location.href='property.html'">
                    view
                </button>
                <div class="checkButton" onclick="toggleSelect(this)"></div>
            </div>
            <div class = "propertyTab">
                <button class="view"
                        onclick="location.href='property.html'">
                    view
                </button>
                <div class="checkButton" onclick="toggleSelect(this)"></div>
            </div>

            </div>
        </div>
    </div>

    <script>
        function toggleSelect(checkButton) {
            const propertyTab = checkButton.parentElement;
            const selected = propertyTab.classList.toggle('selected');
        }
        function removeSelected() {
            const propertyTabs = document.querySelectorAll('.propertyTab');
            propertyTabs.forEach((propertyTab) => {
                if (propertyTab.classList.contains('selected')) {
                    propertyTab.remove();
                }
            });
        }
    </script>
{% endblock %}
