{% extends "base.html" %}
{% block title %}Add Property{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='managementAccount.css')}}">
{% endblock %}
{% block properties_classes %}selectedColor{% endblock %}
{% block content %}
    <div class="OutputPlacement">
        <div class="OutputOptionsBar">
            <button type="submit" form="property-form" class="OptionsButton">
                Save
            </button>
        </div>
        <form class="property-form" id="property-form" method="post">
            <label for="streetAddress">Street Address:</label>
            <input type="text" id="streetAddress" value="" placeholder="Enter street address" />

            <label for="ptype">Property Type:</label>
            <input type="text" id="ptype" value="" placeholder="Enter property type" />

            <label for="sqft">Square Footage:</label>
            <input type="text" id="sqft" value="" placeholder="Enter square footage" />

            <label for="bdr">Bedrooms:</label>
            <input type="text" id="bdr" value="" placeholder="Enter number of bedrooms" />

            <label for="btr">Bathrooms:</label>
            <input type="text" id="btr" value="" placeholder="Enter number of bathrooms" />

            <label for="price">Leasing Price:</label>
            <input type="text" id="price" value="" placeholder="Enter leasing price" />

            <label for="availability">Availability:</label>
            <select id="availability">
                <option value="available">Available</option>
                <option value="notAvailable">Not Available</option>
            </select>
        </form>
    </div>

    <script>
        function saveProperty() {
            
        }

        window.onload = function() {
        const savedProperty = JSON.parse(localStorage.getItem('propertyDetails'));
        if (savedProperty) {
            document.getElementById('streetAddress').value = savedProperty.streetAddress;
            document.getElementById('ptype').value = savedProperty.propertyType;
            document.getElementById('sqft').value = savedProperty.sqft;
            document.getElementById('bdr').value = savedProperty.bedrooms;
            document.getElementById('btr').value = savedProperty.bathrooms;
            document.getElementById('price').value = savedProperty.price;
        }
    };
    </script>
{% endblock %}
