<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Properties</title>
    <link rel="stylesheet" href="../../static/managementAccount.css">
    <style>
        body {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
        }
   </style>

</head>
<body>
    <div class = "BackgroundDisplay">
        <div class="Name">
            NAME
        </div>
        <div class="ProfileImage">
            <img src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_3x4.jpg" alt="Domestic Cat">
        </div>
        <div class="G57Logo">
            G57<br/>
            LOGO
        </div>
        <div class="Account"></div>
        <div class="Base"></div>
        <div class="ScreenDisplay">
            <div class="Sidebar">
                <button class="color" style="position: absolute; left: 35px; top: 50px;">Messages</button>
                <button class="color" style="position: absolute; left: 35px; top: 150px;">Tenants</button>
                <button class="color" style="position: absolute; left: 35px; top: 250px;">Requests</button>
                <button class="selectedColor" style="position: absolute; left: 35px; top: 350px;">Properties</button>
                <button class="color" style="position: absolute; left: 35px; top: 450px;">Reports and Analytics</button>
            </div>
            <div class="OutputPlacement">
                <div class="OutputOptionsBar">
                    <button class="view"
                            style="position: absolute; top: 30px; left: 730px;"
                            onclick="removeSelected()">
                        Remove
                    </button>
                    <button class="view"
                            style="position: absolute; top: 30px; left: 500px;"
                            onclick="addProperty()">
                        Add
                    </button>
                </div>

                <div class="PropertyTabs", id="PropertiesContainer">
                    <div class = "propertyTab">
                        <button class="view"
                                style="position: relative; align-items: center; top: 180px;"
                                onclick="location.href='property.html'">
                            view
                        </button>
                        <div class="checkButton" onclick="toggleSelect(this)"></div>
                    </div>
                    <div class = "propertyTab">
                        <button class="view"
                                style="position: relative; align-items: center; top: 180px;"
                                onclick="location.href='property.html'">
                            view
                        </button>
                        <div class="checkButton" onclick="toggleSelect(this)"></div>
                    </div>
                    <div class = "propertyTab">
                        <button class="view"
                                style="position: relative; align-items: center; top: 180px;"
                                onclick="location.href='property.html'">
                            view
                        </button>
                        <div class="checkButton" onclick="toggleSelect(this)"></div>
                    </div>
                    <div class = "propertyTab">
                        <button class="view"
                                style="position: relative; align-items: center; top: 180px;"
                                onclick="location.href='property.html'">
                            view
                        </button>
                        <div class="checkButton" onclick="toggleSelect(this)"></div>
                    </div>

                    </div>
                </div>
            </div>
        </div>

    <script>
        function toggleSelect(checkButton) {
            const propertyTab = checkButton.parentElement;
            const selected = propertyTab.classList.toggle('selected');
        }
        function removeSelected() {
            const propertyTabs = document.querySelectorAll('.propertyTab');
            propertyTabs.forEach((propertyTab) => {
                if (propertyTab.classList.contains('selected')) {
                    propertyTab.remove();
                }
            });
        }

        let count = 0
        function addProperty() {
            const PropertiesContainer = document.getElementById('PropertiesContainer');
            const newPT = document.createElement('div');
            newPT.classList.add('propertyTab');

            const pID = count++;
            newPT.dataset.pID = pID;

            const addButton = document.createElement('button');
            addButton.classList.add('view');
            addButton.textContent = 'view';
            addButton.style.position = 'relative';
            addButton.style.alignItems = 'center';
            addButton.style.top = '180px';

            addButton.onclick = function() {
                location.href = `property.html?id=${pID}`;
            }

            const checkButton = document.createElement('div');
            checkButton.classList.add('checkButton');
            checkButton.onclick = function () { toggleSelect(checkButton); };

            newPT.appendChild(addButton);
            newPT.appendChild(checkButton);

            PropertiesContainer.appendChild(newPT);
        }
    </script>

</body>
</html>
