<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | Lease Fifty Seven</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Quicksand:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">
    <!-- CSS Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Favicon-->
    <link rel="icon" type="image/svg+xml" href="{{url_for('static', filename='logofavicon.svg')}}">
    <!-- Alternative icon for browsers that do not support svg icons-->
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
    {% endblock %}
</head>
<body>
<!--Main nav start-->
<div class="navbar">
    <div class="left">
        <img class="nav-logo" src="{{url_for('static', filename='logofavicon.svg')}}" onclick="location.href='/'">
    </div>
    <div class="nav-title">
        <h1 class="LeaseFiftySeven">LEASE FIFTY SEVEN</h1>
        <h3 class="RentalManagement">RENTAL MANAGEMENT</h3>
    </div>
    <div class="right">
        <div class="unauth-btns-cont">
            {% if current_user.is_authenticated %}
            <h3 class="Name">{{current_user.first_name}} {{current_user.last_name}}</h3>
            <a class="unauth-btn" href="/logout">LOGOUT</a>
        </div>
        {% else %}
        <a class="unauth-btn" href="/login">LOGIN</a>
        <a class="unauth-btn" href="/register">REGISTER</a>
        {% endif %}
    </div>
</div>
</div>
<!--main nav end-->
<!--Messages Start-->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul id="flashes" class=flashes>
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<!--Messages End-->
<div class="container">
    {% if current_user.is_authenticated and current_user.account_type.value == 2 %}
    <div class="Sidebar">
        <button class="secondary-nav-btn">
            MESSAGES
        </button>
        <button class="secondary-nav-btn">
            TENANTS
        </button>
        <button class="secondary-nav-btn">
            REQUESTS
        </button>
        <button class="secondary-nav-btn {% block properties_classes %}{% endblock %}"
                onclick="location.href='/properties'">
            PROPERTIES
        </button>
        <button class="secondary-nav-btn">
            REPORTS AND ANALYTICS
        </button>
    </div>
    {% endif %}
    <div class="content-container">
        {% block content %}
        {% endblock %}
    </div>
</div>
<script>
    // Hide flashes after 5 seconds if any
    setTimeout(function() {
        var flashMessages = document.getElementById('flashes');
        if (flashMessages) {
            flashMessages.style.display = 'none';
        }
    }, 5000);
</script>
</body>
</html>
