{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .welcome-message {
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 20px;
            color: #BB86FC; /* Accent color */
        }
        .subtitle {
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 40px;
            color: #6026a7;
            margin: 0.5rem 0;
        }

    </style>
{% endblock %}
{% block content %}
    <!-- Welcome Message -->
    <h1 class="welcome-message">Welcome to the Rental Management System</h1>
    <p class="subtitle">Effortlessly manage your rental properties and tenants.</p>
    {% if not current_user.is_authenticated %}
        <br>
        <p class="subtitle">Login or register to get started!</p>
        <div class="unauth-btns-cont">
            <a class="unauth-btn" href="/login">Login</a>
            <a class="unauth-btn" href="/register">Register</a>
        </div>
    {% endif %}
{% endblock %}
