<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management Home</title>
    <link rel="stylesheet" href="../static/managementAccount.css">
<body>
    <div class = "BackgroundDisplay">
        <div class="Base"></div>
        <div class="ScreenDisplay">
            <div class="Sidebar">
                <button class="color"
                        style="position: absolute; left: 35px; top: 50px;">
                    Messages
                </button>
                <button class="color"
                        style="position: absolute; left: 35px; top: 150px;">
                    Tenants
                </button>
                <button class="color"
                        style="position: absolute; left: 35px; top: 250px;">
                    Requests
                </button>
                <button class="color"
                        style="position: absolute; left: 35px; top: 350px;"
                        onclick="location.href='properties.html'">
                    Properties
                </button>
                <button class="color"
                        style="position: absolute; left: 35px; top: 450px;">
                    Reports and Analytics
                </button>
            </div>
            <div class="OutputPlacement"></div>
        </div>

        <div class="Name">
            NAME
        </div>
        <div class="ProfileImage">
            <img src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_3x4.jpg" alt="Domestic Cat">
        </div>
        <div class="G57Logo">
            G57<br/>
            LOGO
        </div>
        <div class="Account"></div>
    </div>
</body>
</html>
